<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Staff List ({{staff?.length}})
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
<!-- GOOGLE CARD --COMPONENT 2 -->
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Current Position: <strong>{{position?.lat}}, {{position?.lng}}</strong> </ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="register-logo-top" padding size="12" size-md="10" push-md="1">
        <ion-button shape="round" button-round [routerLink]="['/staff/edit']" >
          Add a Staff
        </ion-button>
        <!-- <ion-button shape="round" button-round (click)="showTestNotification()" >
          Test Notification
        </ion-button> -->
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item-divider *ngIf="location.loc_name">
          <ion-label class="ion-text-wrap">
            <h1>{{location?.loc_name}}</h1>
          </ion-label>
        </ion-item-divider>
          <ion-searchbar placeholder="Search by name/email/number" (ionChange)="filterList($event)"></ion-searchbar>
      </ion-col>
      <ion-col size="12" size-md="6" *ngIf="!staff?.length">
        <ion-card box-shadow class="ion-text-start"  padding-bottom>
          <!--Card content-->
          <!--Card subtitle-->
          <ion-card-content transparent>
            <!--Card description-->
            <p text-size-p padding-top>No staff found</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" *ngFor="let stf of staff">
        <ion-card box-shadow class="ion-text-start"  padding-bottom>
          <!--Card content-->
          <ion-card-content transparent>
            <!--Card title-->
            <h1 title-card text-size-xs>{{stf?.stf_name}} - {{stf?.stf_no}}</h1>
            <!--Card subtitle-->
            <h2 text-size-sm>{{stf.stf_email}}</h2>
            <ion-card-title padding-top>
              <h2 text-size-sm>{{stf.loc_name}}</h2>
            </ion-card-title>
            <h2 text-size-sm>{{stf.loc_address}}</h2>

            <p class="ion-margin-top">
              <ion-badge>{{stf?.stf_safety_code}}</ion-badge>
            </p>

            <ion-button fill="outline" (click)="link(stf)" *ngIf="stf.stf_id !== linkedStaff.stf_id">
              <ion-icon slot="start" name="eye"></ion-icon>
              Link this Device
            </ion-button>
            <ion-button fill="solid" color="medium" [routerLink]="['/fence-exits']" [queryParams]="{stf_id:stf.stf_id,loc_id:stf.stf_location_id}" >
              Exit(s)
            </ion-button>
            <ion-button fill="solid" color="warning" [routerLink]="['/staff/edit',stf.stf_id]"  >
              Edit Staff
            </ion-button>
            <ion-button fill="solid" color="danger" (click)="onDelete(stf.stf_id)"  >
              Delete Staff
            </ion-button>
          </ion-card-content>
          <div *ngIf="stf.stf_id === linkedStaff.stf_id">
            <ion-item color="success">
              <ion-icon name="eye" size="large" slot="start"></ion-icon>
              <ion-label>Currently linked to this device</ion-label>
            </ion-item>
            <ion-item button color="danger" (click)="unlink(stf)">
              <ion-label class="ion-text-center">Unlink this Device</ion-label>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

