<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Locations ({{locations?.length}})
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
<!-- GOOGLE CARD --COMPONENT 2 -->
  <ion-grid no-padding>
    <ion-row>
      <ion-col class="register-logo-top" padding size="12" size-md="10" push-md="1">
        <ion-button shape="round" button-round [routerLink]="['/locations/edit']" >
          Add a Location
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" *ngIf="all?.length && all?.length > 1">
          <ion-searchbar placeholder="Search by name/address" (ionChange)="filterList($event)"></ion-searchbar>
      </ion-col>
      <!-- no locations -->
      <ion-col size="12" size-md="6" *ngIf="!locations?.length">
        <ion-card box-shadow class="ion-text-start"  padding-bottom>
          <!--Card content-->
          <!--Card subtitle-->
          <ion-card-content transparent>
            <!--Card description-->
            <p text-size-p padding-top>No location found</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- location list -->
      <ion-col size="12" size-md="6" *ngFor="let location of locations">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{location?.loc_name}}</ion-card-title>
            <ion-card-subtitle>{{location.loc_address}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button [routerLink]="['/staff']" [queryParams]="{loc_id:location.loc_id}" >
              <ion-icon slot="start" name="person"></ion-icon>
              Staff List
            </ion-button>
            <ion-button fill="solid" color="warning" [routerLink]="['/locations/edit',location.loc_id]"  >
              Edit Location
            </ion-button>
            <ion-button fill="solid" color="danger" (click)="onDelete(location.loc_id)"  >
              Delete Location
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

