<ion-app>
  <ion-menu *ngIf="showSidebar">
    <ion-header background-size
      [ngStyle]="{'background-image': 'url(' + headerMenuItem.background + ')'}">
          <ion-item transparent text-center lines="none">
            <ion-label text-center>
                <img margin-bottom [src]="'assets/imgs/logo/login.png'">
                <div clearfix></div>
                <h2>
                  {{badge.name}}
                </h2>
                <p>{{badge.email}}</p>

            </ion-label>
          </ion-item>
    </ion-header>
    <ion-content>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col size="12" no-padding>
            <!-- Menu List -->
            <ion-list padding-top>
              <ion-menu-toggle translate auto-hide="false" *ngFor="let p of appPages">
                <ion-item lines="none" [routerDirection]="'root'" (click)="openPage(p)">
                  <i icon-small slot="start" class="icon {{p.icon}}"></i>
                  <ion-label>
                    <h1 text-size-xs>{{p.title}}</h1>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>