<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Calendar</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content transparent>
<!-- EXPANDABLE --COMPONENT 3 -->
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12" padding text-center>
            <!-- <span span-medium>Welcome!!</span> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" padding text-center>
            <div class="ion-padding">
              <ion-calendar calendarColor='red'>

              </ion-calendar>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/login']" color="primary">
            <ion-icon slot="start" name="settings"></ion-icon>
            SETTINGS
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-app>
